body {
  font-family: 'Montserrat';
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

li {
  padding: 40px;
  border: 2px solid rgb(26, 185, 46);
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}

li:hover {
  background-color: rgb(26, 185, 46);
  color: white;
}

li:active {
  opacity: 0.7;
}

.normal-ul {
  display: block !important;
}

.normal-li {
  padding: 10px !important;
  border: none !important;
}

.normal-li:hover {
  background-color: #ffffff !important;
  color: #444444 !important;
}

* {
  color: #444444;
}

.main-container {
  padding: 20px;
}

.block {
  display: flex;
  align-items: center;
}

.number-selected {
  background-color: rgb(26, 185, 46);
  color: white;
}

.bet-input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  font-size: 15pt;
  margin: 15px 0;
}

.bet-type-input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  font-size: 15pt;
  margin: 15px;
  font-family: Montserrat;
  font-weight: 900;
}

button {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  font-size: 15pt;
  font-family: Montserrat;
  font-weight: 900;
  background-color: rgb(26, 185, 46);
  width: 400px;
  color: #ffffff;
}

.currencyButton {
  width: 575px !important;
}
